<div class="landing">
    <div class="container">
        <div class="row items">
            <div class="item">
                <h3>Ibrahim Alnutaify</h3>
                <p>Software Engineer</p>
                <button (click)="previewCV('Ibrahim CV.pdf')" [ngStyle]="{'background': backgroundColor}">Preview CV</button>
                <div class="icons mt-2">
                    <a href="https://www.linkedin.com/in/ibrahim-alnutayfi/" target="_blank"><img width="40px" src="../../../assets/Icons/linkedin.svg"></a>
                    <a href="mailto:Alnutayfi.90@gmail.com" target="_blank"><img width="40px" src="../../../assets/Icons/email.svg"></a>
                </div>
            </div>
            <div class="item">
                <h3>Malik Alqahtani</h3>
                <p>Software Engineer</p>
                <button (click)="previewCV('Malik CV.pdf')" [ngStyle]="{'background': backgroundColor}">Preview CV</button>
                <div class="icons mt-2">
                    <a href="https://www.linkedin.com/in/qhtmalik/" target="_blank"><img width="40px" src="../../../assets/Icons/linkedin.svg"></a>
                    <a href="mailto:malikqahtani7@gmail.com" target="_blank"><img width="40px" src="../../../assets/Icons/email.svg"></a>
                </div>
            </div>
        </div>
    </div>
</div>