html,
body {
  background-image: #fff;
}
.container {
  background-color: #fff;
  padding: 30px !important;
  margin-top: 20px; 
  margin-bottom: 50px;
  /* box-shadow: 0px 8px 15px rgb(0 0 0 / 10%); */
  display: grid !important;
  position: relative;
}